:root {
  --alertRed: hsl(6, 68%, 51%);
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-color: var(--lightGrayishCyan);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  letter-spacing: 15px;
  width: 140px;
  word-wrap: break-word;
  margin-bottom: 70px;
  padding-left: 20px;
  color: var(--veryDarkCyan);
}

.splitter-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  width: 917px;
  height: 478px;
  border-radius: 30px;
}

.section1 {
  display: flex;
  flex-direction: column;
  margin: 51px 47px;
  /* height: 376px; */
  /* justify-content: space-evenly; */
}

.section1 p {
  color: var(--darkGrayishCyan);
  font-weight: 400;
  margin-bottom: 4px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 12px;
}

.options input {
  width: 115px;
  /* height: -webkit-fill-available; */
  border: none;
  outline: none;
}

.options input::placeholder {
  color: var(--darkGrayishCyan);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  opacity: 0;
}

.button {
  background-color: var(--veryDarkCyan);
  color: var(--white);
  border: none;
  height: 48px;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clickButton {
  background-color: var(--strongCyan);
  color: var(--veryDarkCyan);
  border: 1px solid var(--grayishCyan);
}

input {
  height: 47px;
  border-radius: 5px;
  background-color: var(--veryLightGrayishCyan);
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  text-align: end;
  color: var(--veryDarkCyan);
  border: transparent 2px solid;
  transition: all 0.2s ease-in-out;
}

.section1 input[type="number"]:out-of-range {
  border: red 2px solid;
}

.numberOfPeople {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 45px;
}

.texts {
  display: flex;
  justify-content: space-between;
}

.alert {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

input[type="number"]:out-of-range + .texts > .alert {
  color: var(--alertRed);
  opacity: 1;
}

input:focus {
  border: green 2px solid;
}

input::placeholder {
  color: var(--grayishCyan);
  text-align: end;
}

.section1 > input:nth-child(2) {
  background: url(/images/icon-dollar.svg) no-repeat;
  background-color: var(--veryLightGrayishCyan);
  background-position: 15px center;
}

.section1 .numberOfPeople > input {
  background: url(/images/icon-person.svg) no-repeat;
  background-color: var(--veryLightGrayishCyan);
  background-position: 15px center;
}

.section1 p:nth-child(3) {
  margin-top: 45px;
}

.section2 {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 32px 0px;
  /* height: -webkit-fill-available; */
  justify-content: space-evenly;
  background-color: var(--veryDarkCyan);
  border-radius: 30px;
  color: var(--white);
  padding: 58px 41px 39px 41px;
}

.tipAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.totalAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section2 h1 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--strongCyan);
}

.section2 span {
  display: block;
  font-size: 0.7rem;
  color: var(--grayishCyan);
}

.reset {
  height: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--veryDarkCyan);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--strongCyan);
  opacity: 0.2;
  border-radius: 5px;
  margin-top: 125px;
}

@media (max-width: 960px) {
  body {
    height: 100%;
  }
  .title {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .splitter-container {
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section1";
  }

  .section1 {
    margin: 33px;
  }

  .section1 p:nth-child(3) {
    margin-top: 30px;
  }

  .options {
    grid-template-columns: repeat(2, 1fr);
  }

  .options input {
    width: 144px;
  }

  .numberOfPeople {
    margin-top: 30px;
  }
  .section2 {
    padding: 40px 21px;
    margin: 0 24px 32px 24px;
  }

  .section2 h1 {
    font-size: 2.2rem;
  }

  .section2 .reset {
    margin-top: 36px;
  }
}
